{% load i18n %}{% autoescape off %}
{% blocktrans trimmed %}
  You're receiving this email because you requested a
  password reset for your user account at RVMIC.
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
  http://49.52.10.133:8090{% url 'spirit:user:auth:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% blocktrans trimmed %}The RVMIC team{% endblocktrans %}

{% endautoescape %}
